body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  background-color: #f0f0f0; /* Set your desired background color */
  color: #333; /* Adjust text color for better contrast */
  

}


.App {
  text-align: center;
  background-color: #000000;
  height: 100vh;
  color: white;
  display: flex;
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  height: 100%;
  
  overflow: auto; /* or overflow: scroll; depending on your design */
}

.logoBox {
  padding-top: 10px;
}

h1 {
  font-size: 50px;
}

.primaryColor {
  color: #e02aff;
}

.secondaryColor {
  color: rgb(184, 65, 184);
}

.mainForm {
  margin: 20px auto;
  width: auto; /* Remove the max-width to allow it to expand */

}

.mainForm input {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid white;
  outline: none;
}


.chat-line {
  border: 1px solid #e02aff;
  padding: 10px;
  border-radius: 10px; /* Add rounded corners for a smoother appearance */
  box-sizing: border-box; /* Include padding in the element's total width */
  display: flex; /* Use flexbox to center vertically */
  align-items: center; /* Center vertically within the container */
  justify-content: center; /* Center horizontally within the container */
  max-width: 80%;
  margin: 0 auto;
}


.mainButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.mainButton:hover {
  background-color: #0056b3; /* Adjust the hover color */
}

.secondaryButton {
  background-color: transparent;
  color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.2s;
}

.secondaryButton:hover {
  color: #0056b3; /* Adjust the hover color */
}

button:disabled:hover {
  background-color: #b7aeb9;
  border-color: #b7aeb9;
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.loading-spinner {
  display: inline-block;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: #e02aff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.response {
  /* display: flex; */
  flex-direction: column;
  height: 60vh;
  max-width: 700px;
  margin: auto;
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: auto;
  white-space: pre-wrap;

}

.task button {
  /* Add your button styles here */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  /* Add any other styles you need */
}

.image-box {
  margin: auto;
}

.chat-line {
  margin: 10px 0;
  white-space: pre-wrap;
  display: flex;

}

.bold {
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .mainForm input {
    width: auto;
  }
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 5px;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
}

.chat-container {
  display: flex;
  flex-direction: column; /* Ensure the items stack vertically */
  align-items: center; /* Center items horizontally */
}
