body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Use your preferred font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #ffffff; /* White background */
  color: #333; /* Dark text color */
}

.App {
  text-align: center;
  background-color: #007bff; /* Blue background */
  height: 100vh;
  color: white; /* White text color */
  display: flex;
  flex-direction: column; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  justify-content: center;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: auto;
  height: 100%;
  overflow: auto;
}

.logoBox {
  padding-top: 10px;
  font-family: 'Helvetica', sans-serif; /* Apply a different font */
}

h1 {
  font-size: 2rem; /* Increase font size */
  font-weight: bold; /* Make it bold */
}

.primaryColor {
  color: #e02aff;
}

.secondaryColor {
  color: #b841b8; /* Adjust the secondary color */
}

.mainForm {
  margin: 20px auto;
  width: auto;
}

.mainForm input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #007bff; /* Blue border */
  outline: none;
}

.chat-line {
  width: calc(50% - 10px); /* Make each chat message occupy half the width with some margin */
  margin-bottom: 20px; /* Add margin between chat messages */
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  white-space: pre-wrap;
  background-color: #007bff; /* Blue background */
  color: white; /* White text color */
  font-family: 'Arial', sans-serif; /* Use your preferred font */
  font-weight: bold; /* Make the text bold */
  font-size: 16px; /* Adjust font size as needed */
}

.mainButton {
  background-color: white;
  color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.mainButton:hover {
  background-color: #0056b3;
}

.secondaryButton {
  background-color: transparent;
  color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.2s;
}

.secondaryButton:hover {
  color: #0056b3;
}

button:disabled:hover {
  background-color: #b7aeb9;
  border-color: #b7aeb9;
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.loading-spinner {
  display: inline-block;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: #007bff;
  animation: spin 1s ease-in-out infinite;
}

.response {
  flex-direction: column;
  height: 60vh;
  max-width: 700px;
  margin: auto;
  text-align: left;
  padding: 10px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: auto;
  white-space: pre-wrap;
}

.task button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.image-box {
  margin: auto;
}

.chat-line {
  margin: 10px 0;
  white-space: pre-wrap;
  color: white;
}

.bold {
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .mainForm input {
    width: auto;
  }
}

.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 5px); 

}

.box-container {
  display: flex;
  flex-wrap: wrap; /* Allow boxes to wrap to the next row */
  justify-content: space-between; /* Distribute space between the boxes */
}

.box {
  width: calc(70% - 10px); 
  margin-bottom: 20px; 

}


.goal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}